<% if @movies.length == 0 %>
 <p>No available movies please add some</p>
<% else %>
<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To rate a movie", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">

  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to movie do %><img src="<%=movie.image%>" class='img-responsive mt-5'/><% end %>
      </div>
    </div>
  <% end %>
 
</div>

<% end %>

<div class='paginate'>
  <%= will_paginate @movies, list_classes: %w(pagination justify-content-center) %>
</div>
